body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    letter-spacing: 2px;
}
.vl {
    border-left: 1px solid gray;
    height: 600px;
    margin-left: 280px;
    margin-top: -10px;
  }
 .vl2{
    border-left: 2px solid black;
    height: 600px;
    margin-left: 800px;
    margin-top: -30px;
    position: absolute;
 } 
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: -60px;
    margin-top: 10px;
  }
  .dotschool{
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    margin-top: -10px;
    position: absolute;
    margin-left: 500px;
  }
  .bigdot{
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: -50px;
    margin-top: 60px;
  }
  #name{
    margin-top: -35px;
}
#Profile{
  margin-top: -20px;
}
#Assignments{
  margin-top: -20px;
}
#Marks{
  margin-top: -20px;
}
#Notes{
  margin-top: -20px;
}
#Quiz{
  margin-top: -20px;
}
#Interactions{
  margin-top: -20px;
}
#Settings{
  margin-top: -20px;
}
.dp{
  padding-left: 100;
  margin-right: 800px;
  margin-top: 60px;
}
.mainnav{
  float: left;
  margin-top: -60px;
  margin-left: 90px;
}
.topnav{
  padding-left: 100;
  margin-left: 780px;
  margin-top: 20px;
  margin-bottom: -80px;
}
a{
  color: black;
}
a:link{
  text-decoration: none;
}
.home{
    padding-right: 20px;
}
.contact{
    padding-left: 20px;
}
.about{
    padding-left: 20px;
    padding-right: 20px;
}
.welcome{
    text-align: center;
    margin-top: -600px;
    margin-right: 700px;
  }
  .completed{
    border-radius: 10px;
    background: #83fb5b;
    margin-left: 420px; 
    margin-top: 40px;
    width: 200px;
    height: 40px; 
  }
  .pending{
    border-radius: 10px;
    background: #ff5c38;
    float: right;
    margin-right: 70px;
    margin-top: -40px;
    width: 200px;
    height: 40px; 
  }